---
layout: default
title: About
---

<div class="row">

  <div class="col-md">
    <div class="mt-2 mb-3">
      <img src="/assets/images/headshot.jpg" alt="Headshot">
    </div>
  </div>

  <div class="col-md">
    <h3>About</h3>
    <div>
      <p class="mb-2">
        Hi, I'm Mack! I'm a husband, software engineer, video game enthusiast,
        and wannabe triathlete.  I've been at Facebook since mid-2015, where I
        spend time building large-scale backend systems and developer tools.
      </p>
    </div>
  </div>

  <div class="col-md">
    <h3>Contact</h3>
    <div class="mb-2">
      {% for item in site.data.emails %}
        <!-- Add hidden characters to prevent spam -->
        {{ item.user }}<span style="display:none">null</span>@{{ item.domain }}
        <br/>
      {% endfor %}
    </div>
    <h3>Socials</h3>
    {% for item in site.data.socials %}
      <div class="mb-1">
        <a href="{{ item.url }}"
          {% if item.skip-validation %} data-proofer-ignore {% endif %}>
          {{ item.url | remove_first: "https://" | remove_first: "www." }}
        </a>
      </div>
    {% endfor %}
  </div>

</div>
