---
layout: default
title: Posts
---

<!-- Special "all" tag -->
{% assign all = "all" | split: "," %}
{% assign all = all | push: site.posts %}

<!-- Special "untagged" tag -->
{% assign untagged_posts = "" | split: "," %}
{% for post in site.posts %}
  {% if post.tags.size == 0 %}
    {% assign untagged_posts = untagged_posts | push: post %}
  {% endif %}
{% endfor %}
{% assign untagged = "untagged" | split: "," %}
{% assign untagged = untagged | push: untagged_posts %}

<!-- List[Tuple[tag, List[post]]]  -->
{% assign tags = "" | split: "," %}
{% assign tags = tags | push: all %}
{% assign sorted_site_tags = site.tags | sort %}
{% for x in sorted_site_tags %}
  {% assign tags = tags | push: x %}
{% endfor %}
{% assign tags = tags | push: untagged %}

<ul class="nav nav-pills">
  {% for tuple in tags %}
    {% assign tag = tuple[0] %}
    {% assign count = tuple[1] | size %}
    {% assign class = "btn btn-outline-primary btn-sm" %}
    {% if tag == "all" %}
      {% assign class = class | append: " active" %}
    {% endif %}
    <li style="margin-right:5px;margin-top:5px;">
      {% include tag.html
        name=tag
        count=count
        class=class
      %}
    </li>
  {% endfor %}
</ul>

<hr style="margin-bottom: 5px;"/>

<div class="tab-content">
  {% for tuple in tags %}
    {% assign tag = tuple[0] %}
    {% assign class = "tab-pane" %}
    {% if tag == "all" %}
      {% assign class = class | append: " active" %}
    {% endif %}
    <div class="{{ class }}" id="{{ tag }}">
      {% for post in tuple[1] %}
        <span style="display: inline-block;
                     width: 120px;
                     text-align: right;
                     margin-right: 5px;">
          {{ post.date | date_to_string: "ordinal", "US"}}
        </span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <hr style="margin: 5px;"/>
      {% endfor %}
    </div>
  {% endfor %}
</div>
