html {
  overflow-y: scroll;
}

blockquote p {
  font-style: italic;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.famous-quote-p {
  font-size: 0.8em !important;
  font-style: italic;
  margin-left: 0.0em;
  margin-right: 0.0em;
}

.famous-quote-footer {
  font-size: 0.7em !important;
}
