html {
  overflow-y: scroll;
}

blockquote p {
  border-left: 0.25em solid #ccc;
  color: #666;
  padding-left: 1.0em;
}

pre {
  padding: 0.75em;
  background-color: #eee;
}

.famous-quote-p {
  border-left: none;
  color: #222;
  font-size: 0.8em !important;
  font-style: italic;
  padding-left: 0.0em;
}

.famous-quote-footer {
  font-size: 0.7em !important;
}
