html {
  overflow-y: scroll;
}

code {
  // Disable the default pink color
  color: inherit;
  // Add a light grey background color
  background-color: #e5e5e5;
  // Add space around the text (vertical, horizontal)
  padding: 0.2em 0.4em;
  // Creates rounded corners for a pill shape
  border-radius: 0.5em;
}

pre code {
  // Some attributes are overridden for inline code. Reset them for code
  // blocks, since the default formatting works quite well.
  background-color: transparent;
  padding: 0.0em 0.0em;
  border-radius: 0.0em;
}

blockquote p {
  border-left: 0.25em solid #ccc;
  color: #666;
  padding-left: 1.0em;
}

pre {
  padding: 0.75em;
  background-color: #eee;
}

td {
  padding-right: 1.0em;
}

.famous-quote-p {
  border-left: none;
  color: #222;
  font-size: 0.8em !important;
  font-style: italic;
  padding-left: 0.0em;
}

.famous-quote-footer {
  font-size: 0.7em !important;
}

.blurry-img {
  filter: blur(15px);
  transition: opacity 0.25s ease;
}

.transparent {
  opacity: 0;
}
