<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% feed_meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container px-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.navigation %}
            {% capture active %}
              {% if page.url == item.link %}
                active
              {% endif %}
            {% endcapture %}
            <li class="nav-item {{ active }}">
              <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="mx-3">
          <a href="/feed.xml">
            <img src="/assets/images/feed-icon-28x28.png" alt="RSS">
          </a>
        </div>
        <div>
          <a href="https://github.com/mackorone/mackorone.github.io">
            <img src="/assets/images/GitHub-Mark-Light-32px.png" alt="GitHub">
          </a>
        </div>
      </nav>
      <div class="p-3">
        {{ content }}
      </div>
    </div>
  </body>
</html>
