<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% feed_meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container px-0" style="max-width: 770px">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.navigation %}
            {% if item.subpages %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  {{ item.name }}
                </a>
                <div class="dropdown-menu">
                  {% for subpage in item.subpages %}
                    <a class="dropdown-item" href="{{ subpage.link }}">
                      {{ subpage.name }}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              {% capture active %}
                {% if page.url == item.link %}
                  active
                {% endif %}
              {% endcapture %}
              <li class="nav-item {{ active }}">
                <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="mx-3">
          <a href="/feed.xml">
            <img src="/assets/images/feed-icon-28x28.png" alt="RSS">
          </a>
        </div>
        <div>
          <a href="https://github.com/mackorone/mackorone.github.io">
            <img src="/assets/images/GitHub-Mark-Light-32px.png" alt="GitHub">
          </a>
        </div>
      </nav>
      <div class="p-3">
        {{ content }}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
